@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Lusitana");
/* line 1, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_buttons.scss */
button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
/* line 22, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_buttons.scss */
button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
  background-color: #11519a;
  color: #fff;
}
/* line 28, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_buttons.scss */
button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
/* line 32, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_buttons.scss */
button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
  background-color: #1565c0;
}

/* line 1, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_forms.scss */
fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 8, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_forms.scss */
legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0;
}

/* line 14, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_forms.scss */
label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em;
}

/* line 20, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_forms.scss */
input,
select,
textarea {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 1em;
}

/* line 28, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_forms.scss */
[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%;
}
/* line 40, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_forms.scss */
[type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
  border-color: #b1b1b1;
}
/* line 44, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_forms.scss */
[type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
  border-color: #1565c0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
  outline: none;
}
/* line 50, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_forms.scss */
[type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}
/* line 54, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_forms.scss */
[type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
  border: 1px solid #ddd;
}
/* line 59, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_forms.scss */
[type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
  color: #858585;
}

/* line 64, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 68, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_forms.scss */
[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

/* line 74, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_forms.scss */
[type="file"] {
  margin-bottom: 0.75em;
  width: 100%;
}

/* line 79, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_forms.scss */
select {
  margin-bottom: 0.75em;
  width: 100%;
}

/* line 1, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_layout.scss */
html {
  box-sizing: border-box;
}

/* line 5, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_layout.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* line 11, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_layout.scss */
html,
body {
  height: 100%;
}

/* line 1, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_lists.scss */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 8, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_lists.scss */
dl {
  margin: 0;
}

/* line 12, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_lists.scss */
dt {
  font-weight: 600;
  margin: 0;
}

/* line 17, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_lists.scss */
dd {
  margin: 0;
}

/* line 1, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_media.scss */
figure {
  margin: 0;
}

/* line 5, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_media.scss */
img,
picture {
  margin: 0;
  max-width: 100%;
}

/* line 1, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 8, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_tables.scss */
th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left;
}

/* line 15, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_tables.scss */
td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0;
}

/* line 20, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle;
}

/* line 1, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_typography.scss */
body {
  color: #333;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

/* line 8, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lusitana", serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em;
}

/* line 20, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_typography.scss */
p {
  margin: 0 0 0.75em;
}

/* line 24, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_typography.scss */
a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease;
}
/* line 29, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_typography.scss */
a:active, a:focus, a:hover {
  color: #104c90;
}

/* line 36, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/base/_typography.scss */
hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

/* line 4, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/neat-1.8.0/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/neat-1.8.0/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/*
Trix 0.9.9
Copyright © 2016 Basecamp, LLC
http://trix-editor.org/*/
/* line 6, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-editor {
  color: #111;
  border: 1px solid #bbb;
  border-radius: 3px;
  margin: 0;
  padding: 4px 8px;
  min-height: 54px;
  outline: none;
}

/* line 14, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar * {
  box-sizing: border-box;
}

/* line 16, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .button_group {
  display: inline-block;
  font-size: 0;
  margin: 0 8px 4px 0;
  border: 1px solid #bbb;
  border-top-color: #ccc;
  border-bottom-color: #888;
  border-radius: 5px;
  overflow: hidden;
}

/* line 25, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .button_group:last-of-type {
  margin-right: 0;
}

/* line 27, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .button_group button, trix-toolbar .button_group input[type=button] {
  position: relative;
  font-size: 0;
  margin: 0;
  height: 28px;
  width: 40px;
  background: #fff;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* line 36, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .button_group button::before, trix-toolbar .button_group input[type=button]::before {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .6;
  content: "";
}

/* line 47, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .button_group button.active, trix-toolbar .button_group input[type=button].active {
  background: #cbeefa;
}

/* line 49, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .button_group button.active::before, trix-toolbar .button_group input[type=button].active::before {
  opacity: 1;
}

/* line 51, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .button_group button:disabled::before, trix-toolbar .button_group input[type=button]:disabled::before {
  opacity: .125;
}

/* line 53, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .button_group button:not(:first-child), trix-toolbar .button_group input[type=button]:not(:first-child) {
  border-left: 1px solid #ccc;
}

/* line 55, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .dialogs {
  position: relative;
}

/* line 57, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .dialogs .dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px 8px;
  line-height: 12px;
  background: #fff;
  box-shadow: 0 0.3rem 1rem #ccc;
  border-top: 2px solid #888;
  border-radius: 5px;
  z-index: 5;
}

/* line 69, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .dialogs .dialog input[type=button] {
  font-size: 12px;
  height: 24px;
  width: 50px;
  padding: 1px 8px 0 8px;
  width: auto;
  opacity: .6;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

/* line 78, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .dialogs .dialog input[type=url], trix-toolbar .dialogs .dialog input[type=text] {
  display: inline-block;
  height: 26px;
  font-size: 12px;
  padding: 0 8px;
  margin: 0 8px 0 0;
  border-radius: 5px;
  border: 1px solid #bbb;
  background-color: #fff;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* line 91, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .dialogs .dialog input[type=url].validate:invalid, trix-toolbar .dialogs .dialog input[type=text].validate:invalid {
  box-shadow: #F00 0px 0px 1.5px 1px;
}

/* line 93, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .dialogs .dialog.link_dialog {
  min-width: 300px;
  max-width: 600px;
}

/* line 96, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .dialogs .dialog.link_dialog .button_group {
  max-width: 110px;
}

/* line 98, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .dialogs .dialog.link_dialog input[type=url] {
  float: left;
  width: calc(100% - 120px);
}

/* line 101, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .button_group button.bold::before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M15.6%2011.8c1-.7%201.6-1.8%201.6-2.8a4%204%200%200%200-4-4H7v14h7c2%200%203.7-1.7%203.7-3.8%200-1.5-.8-2.8-2-3.4zM10%207.5h3a1.5%201.5%200%200%201%200%203h-3v-3zm3.5%209H10v-3h3.5a1.5%201.5%200%200%201%200%203z%22%2F%3E%3C%2Fsvg%3E");
}

/* line 103, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .button_group button.italic::before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M10%205v3h2.2l-3.4%208H6v3h8v-3h-2.2l3.4-8H18V5h-8z%22%2F%3E%3C%2Fsvg%3E");
}

/* line 105, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .button_group button.link::before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M9.88%2013.7a4.3%204.3%200%200%201%200-6.07l3.37-3.37a4.26%204.26%200%200%201%206.07%200%204.3%204.3%200%200%201%200%206.06l-1.96%201.72a.9.9%200%200%201-1.3-1.3l1.97-1.7a2.46%202.46%200%200%200-3.48-3.5l-3.38%203.38a2.46%202.46%200%200%200%200%203.48.9.9%200%200%201-1.3%201.3z%22%2F%3E%3Cpath%20d%3D%22M4.25%2019.46a4.3%204.3%200%200%201%200-6.07l1.93-1.9a.9.9%200%200%201%201.3%201.27l-1.93%201.9a2.46%202.46%200%200%200%203.48%203.5l3.37-3.4c.96-.95.96-2.5%200-3.47a.9.9%200%200%201%201.3-1.28%204.3%204.3%200%200%201%200%206.06l-3.38%203.38a4.26%204.26%200%200%201-6.07%200z%22%2F%3E%3C%2Fsvg%3E");
}

/* line 107, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .button_group button.strike::before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M12.73%2014l.28.14c.3.15.5.3.6.44.1.14.2.3.2.5%200%20.3-.1.56-.4.75-.3.2-.75.3-1.4.3a13.52%2013.52%200%200%201-5-1.18v3.38a10.64%2010.64%200%200%200%204.86.88%209.5%209.5%200%200%200%203.28-.5c.93-.34%201.64-.9%202.14-1.54s.74-1.45.74-2.32c0-.25%200-.5-.05-.74h-5.2zm-5.5-4c-.08-.34-.12-.7-.12-1.1%200-1.3.6-2.3%201.6-3.02a7.75%207.75%200%200%201%204.4-1.08c1.6%200%203.3.34%205%201l-1.3%202.93c-1.47-.6-2.73-.9-3.8-.9-.55%200-.96.08-1.2.26a.7.7%200%200%200-.38.6c0%20.2.16.5.48.7.18.1.54.3%201.06.5h-5.7zM3%2013h18v-2H3v2z%22%2F%3E%3C%2Fsvg%3E");
}

/* line 109, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .button_group button.quote::before {
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M6%2017h3l2-4V7H5v6h3zm8%200h3l2-4V7h-6v6h3z%22%2F%3E%3C%2Fsvg%3E");
}

/* line 111, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .button_group button.heading-1::before {
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M12%209v3H9v7H6v-7H3V9h9zM8%204h14v3h-6v12h-3V7H8V4z%22%2F%3E%3C%2Fsvg%3E");
}

/* line 113, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .button_group button.code::before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M18.2%2012L15%2015.2l1.4%201.4L21%2012l-4.6-4.6L15%208.8l3.2%203.2zM5.8%2012L9%208.8%207.6%207.4%203%2012l4.6%204.6L9%2015.2%205.8%2012z%22%2F%3E%3C%2Fsvg%3E");
}

/* line 115, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .button_group button.bullets::before {
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M4%204a2%202%200%201%200%200%204%202%202%200%200%200%200-4zm0%206a2%202%200%201%200%200%204%202%202%200%200%200%200-4zm0%206a2%202%200%201%200%200%204%202%202%200%200%200%200-4zm4%203h14v-2H8v2zm0-6h14v-2H8v2zm0-8v2h14V5H8z%22%2F%3E%3C%2Fsvg%3E");
}

/* line 117, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .button_group button.numbers::before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M2%2017h2v.5H3v1h1v.5H2v1h3v-4H2v1zm1-9h1V4H2v1h1v3zm-1%203h1.8L2%2013v1h3v-1H3.2L5%2011v-1H2v1zm5-6v2h14V5H7zm0%2014h14v-2H7v2zm0-6h14v-2H7v2z%22%2F%3E%3C%2Fsvg%3E");
}

/* line 119, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .button_group button.nesting-level.decrease::before, trix-toolbar .button_group button.block-level.decrease::before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M3%2019h19v-2H3v2zm7-6h12v-2H10v2zm-8.3-.3l2.8%203L6%2014l-2.3-2%202-2-1.3-1.5L1%2012l.7.7zM3%205v2h19V5H3z%22%2F%3E%3C%2Fsvg%3E");
}

/* line 121, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .button_group button.nesting-level.increase::before, trix-toolbar .button_group button.block-level.increase::before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M3%2019h19v-2H3v2zm7-6h12v-2H10v2zm-7-1l-2%202.2%201.4%201.4L6%2012l-.8-.7-2.8-2.8L1%2010l2%202zm0-7v2h19V5H3z%22%2F%3E%3C%2Fsvg%3E");
}

/* line 123, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .button_group button.undo::before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M12.5%208c-2.6%200-5%201-7%202.6L2%207v9h9l-3.6-3.6A8%208%200%200%201%2020%2016l2.4-.8a10.5%2010.5%200%200%200-10-7.2z%22%2F%3E%3C%2Fsvg%3E");
}

/* line 125, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-toolbar .button_group button.redo::before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M18.4%2010.6a10.5%2010.5%200%200%200-17%204.6L4%2016a8%208%200%200%201%2012.6-3.6L13%2016h9V7l-3.6%203.6z%22%2F%3E%3C%2Fsvg%3E");
}

/* line 128, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-editor [data-trix-mutable=true] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 133, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-editor [data-trix-mutable=true] img {
  box-shadow: 0 0 0 2px highlight;
}

/* line 135, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-editor .attachment .remove {
  display: block;
  position: absolute;
  top: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  line-height: 22px;
  font-size: 0;
  color: black;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #bbb;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

/* line 151, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-editor .attachment .remove:after {
  content: '×';
  font-size: 18px;
  font-weight: bold;
  opacity: 0.6;
}

/* line 156, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-editor .attachment .remove:hover:after {
  opacity: 1;
}

/* line 158, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
trix-editor .attachment .caption.caption-editing textarea {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* line 170, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
.trix-content h1 {
  font-size: 1.6em;
  margin: 10px 0;
}

/* line 173, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
.trix-content blockquote {
  margin: 0 0 0 5px;
  padding: 0 0 0 10px;
  border-left: 5px solid #ccc;
}

/* line 177, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
.trix-content pre {
  font-family: monospace;
  font-size: 12px;
  margin: 0;
  padding: 10px;
  white-space: pre-wrap;
  background-color: #eee;
}

/* line 184, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
.trix-content ul, .trix-content ol, .trix-content li {
  margin: 0;
  padding: 0;
}

/* line 187, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
.trix-content ul li, .trix-content ol li, .trix-content li li {
  margin-left: 20px;
}

/* line 189, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
.trix-content img {
  max-width: 100%;
  height: auto;
}

/* line 192, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
.trix-content a[data-trix-attachment] {
  color: inherit;
  text-decoration: none;
}

/* line 195, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
.trix-content a[data-trix-attachment]:hover, .trix-content a[data-trix-attachment]:visited:hover {
  color: inherit;
}

/* line 197, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
.trix-content .attachment {
  position: relative;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  padding: 0;
  color: #666;
  font-size: 13px;
}

/* line 205, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
.trix-content .attachment.attachment-file {
  color: #333;
  line-height: 30px;
  padding: 0 16px;
  border: 1px solid #bbb;
  border-radius: 5px;
}

/* line 211, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
.trix-content .attachment .caption {
  display: block;
  margin: 4px auto 0 auto;
  padding: 0;
  text-align: center;
}

/* line 216, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/trix-0.9.9/vendor/assets/stylesheets/trix.css */
.trix-content .attachment .caption .size:before {
  content: ' · ';
}

@keyframes animatedCursor {
  0%, 100% {
    left: -80px;
  }
  50% {
    left: -75px;
  }
}
/* line 13, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
div img, .cursor {
  display: none;
  position: absolute;
  top: 10px;
  max-width: 50px;
  animation: animatedCursor 0.4s infinite;
}

/* line 24, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
:focus + img {
  display: block;
}

/* line 26, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
:root {
  font-size: calc(1vw + 1vh + .5vmin);
}

/* line 30, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
.article-footer {
  margin-top: 2rem;
  margin-bottom: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 38, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
.article-button {
  font-size: 0.7rem;
  width: 30%;
  max-width: 50%;
  text-align: center;
  border: 2px solid #333;
  height: 44px;
  line-height: 40px;
  cursor: pointer;
}

/* line 50, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
.article-button-permalink:hover {
  color: #fff;
  background-color: #333;
  text-decoration: none;
}

/* line 56, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
html body, input, textarea {
  font-family: "Lusitana", serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

/* line 63, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
p {
  font-family: "Lato", sans-serif;
}

/* line 67, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
h1, figcaption, .load {
  text-align: center;
  float: none;
}

/* line 72, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
.initiative {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* line 78, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
#content {
  flex: 1;
  transition: all 1s ease-in;
  width: 100%;
  align-self: center;
}

/* line 85, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
ol, .load {
  margin-bottom: 30vh;
}

/* line 89, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
.load {
  margin-top: 10vh;
}

/* line 93, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
footer.gallery-footer {
  background-color: rgba(255, 255, 255, 0.5);
  bottom: 0;
  position: fixed;
  right: 0;
  width: 100vw;
}

/* line 101, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
nav, main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 109, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
nav ul {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding-bottom: 1rem;
}

/* line 119, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
nav ul li {
  display: inline-block;
  padding: 3vw;
}

/* line 124, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
figure img:not(.cursor) {
  width: 100%;
}

/* line 128, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
a {
  color: #333;
  font-weight: bold;
}
/* line 131, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
a:hover {
  color: #737373;
  text-decoration: underline;
}

/* line 137, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
.up-current, .up-active {
  text-decoration: underline;
}

/* line 141, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
#pieces {
  width: 100%;
}

/* line 145, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
section p {
  text-indent: 5ch;
  margin: 0;
}

/* line 150, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
.name, .gift-shop {
  text-align: center;
}

/* line 152, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
#info, #discourse, #info-toggle, #discourse-toggle {
  display: none;
}

@media (min-width: 61.5rem) {
  /* line 157, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
  .name {
    display: none;
    position: fixed;
    top: 40%;
    left: 0;
    transform: translate(-30%, 50%) rotate(0.75turn);
    font-size: 0.5rem;
  }

  /* line 165, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
  header, ol li, .load.dolly {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 25.58941%;
  }
  /* line 89, /home/orbital/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
  header:last-child, ol li:last-child, .load.dolly:last-child {
    margin-right: 0;
  }

  /* line 170, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
  section p {
    font-size: 0.7rem;
  }

  /* line 174, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
  #info {
    display: block;
    z-index: 3;
    position: fixed;
    right: 100vw;
    top: 10vh;
    width: 20%;
    transition: right 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    height: 45vh;
  }
  /* line 183, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
  #info p {
    width: 90%;
    font-size: 0.7rem;
  }

  /* line 189, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
  #discourse {
    display: block;
    z-index: 3;
    position: fixed;
    left: 100vw;
    top: 10vh;
    width: 20%;
    transition: left 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    height: 45vh;
  }
  /* line 198, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
  #discourse #messages {
    overflow: scroll;
    height: 50vh;
  }
  /* line 202, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
  #discourse form {
    position: absolute;
    top: 50vh;
    width: 100%;
  }
  /* line 207, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
  #discourse input {
    width: 100%;
  }

  /* line 212, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
  #info-toggle {
    position: fixed;
    top: 40%;
    left: 0;
    transform: translate(-30%, 50%) rotate(0.75turn);
    font-size: 0.5rem;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
  }

  /* line 226, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
  #info-toggle + label.info-toggle {
    position: fixed;
    top: 40%;
    left: 0;
    cursor: pointer;
    font-size: 0.5rem;
    text-align: center;
    cursor: pointer;
    transition: left 600ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    transform: translate(-30%, 50%) rotate(0.75turn);
    z-index: 5;
  }

  /* line 239, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
  #info-toggle + label.info-toggle:after {
    content: "James Michiemo";
  }

  /* line 243, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
  #info-toggle:checked ~ #info {
    right: 75vw;
  }

  /* line 247, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
  #info-toggle:checked + label.info-toggle {
    left: 25vw;
    transform: translate(-30%, 50%) rotate(0turn);
  }

  /* line 252, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
  #info-toggle:checked ~ #content {
    width: 75vw;
    align-self: center;
  }

  /* line 257, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
  #info-toggle:checked + label.info-toggle:after {
    content: "<< close ";
  }

  /* line 261, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
  #discourse-toggle {
    position: fixed;
    top: 40%;
    right: 0;
    transform: translate(-30%, 50%) rotate(0.75turn);
    font-size: 0.5rem;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
  }

  /* line 275, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
  #discourse-toggle + label.discourse-toggle {
    position: fixed;
    top: 40%;
    right: 0;
    cursor: pointer;
    font-size: 0.5rem;
    text-align: center;
    cursor: pointer;
    transition: right 600ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    transform: translate(-30%, 50%) rotate(0.25turn);
    z-index: 5;
  }

  /* line 288, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
  #discourse-toggle + label.discourse-toggle:after {
    content: "Chat";
  }

  /* line 292, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
  #discourse-toggle:checked ~ #discourse {
    left: 75vw;
  }

  /* line 296, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
  #discourse-toggle:checked + label.discourse-toggle {
    right: 25vw;
    transform: translate(-30%, 50%) rotate(0turn);
  }

  /* line 301, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
  #discourse-toggle:checked ~ #content {
    width: 75vw;
    align-self: center;
  }

  /* line 306, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
  #discourse-toggle:checked + label.discourse-toggle:after {
    content: "close >>";
  }
}
/* line 311, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
progress {
  /* Positioning */
  position: relative;
  left: 0;
  top: -1.2em;
  /* Dimensions */
  width: 100%;
  height: .05em;
  /* Reset the apperance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Get rid of the default border in Firefox/Opera. */
  border: none;
  /* For Firefox/IE10+ */
  background-color: transparent;
  /* For IE10+, color of the limit bar */
  color: #f6cac9;
}

/* line 336, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
progress::-webkit-progress-bar {
  background-color: transparent;
}

/* line 340, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
.limit-break::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(left, #000, #000);
}

/* line 347, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
.limit-break::-moz-progress-bar {
  background-image: -moz-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -moz-linear-gradient(left, #000, #000);
}

/* line 354, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
.limit-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: .25em;
  display: block;
}

/* line 364, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
.limit-bar {
  background-color: red;
  width: 50%;
  display: block;
  height: inherit;
}

/* line 371, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
#discourse-toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

/* line 378, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/wildstyle.scss */
.gift-shop {
  position: fixed;
  top: 1.5%;
  right: 2%;
  z-index: 3;
}

/* line 6, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/collectibles.scss */
.collectibles .display-case {
  border-collapse: collapse;
  max-width: 90%;
  margin: 0 5vw  0 5vw;
}
/* line 12, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/collectibles.scss */
.collectibles table tr td {
  padding: 5px;
  verticle-align: top;
}
/* line 17, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/collectibles.scss */
.collectibles .list-image {
  width: 60px;
  height: 70px;
}
/* line 22, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/collectibles.scss */
.collectibles .list-description {
  width: 60%;
}
/* line 25, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/collectibles.scss */
.collectibles .list-description dl {
  margin: 0;
}
/* line 29, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/collectibles.scss */
.collectibles .list-description dt {
  color: #244;
  font-weight: bold;
  font-size: larger;
}
/* line 35, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/collectibles.scss */
.collectibles .list-description dd {
  margin: 0;
}
/* line 40, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/collectibles.scss */
.collectibles .list-actions {
  font-size: x-small;
  text-align: right;
  padding-left: 1em;
}
/* line 46, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/collectibles.scss */
.collectibles .list-line-even {
  background: #e0f8f8;
}
/* line 50, /home/orbital/mars/jamesmichiemo.net/app/assets/stylesheets/collectibles.scss */
.collectibles .list-line-odd {
  background: #f8b0f8;
}
