figure 
  = image_tag picture.image.medium.url, srcset: "#{picture.image.large.url} 1920w, \
    #{picture.image.medium.url} 960w, \
      #{picture.image.small.url} 480w", 
	sizes: "(max-width: 40em) 100vw, 50vw", 
	alt: "#{strip_tags picture.caption}",
	tabindex: '3'
    	
  figcaption = picture.caption.html_safe
 
