iframe {
  max-width: 100%;
  width: auto;
}

.collection {
  width: 100%;
}

table {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

nav ul {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

li {
  display: inline;
}

.hamburger i {
  margin-left: auto;
  margin-right: auto;
  width: 1%;
  display: none
}


@media (max-width : 320px) {
  .hamburger i {
    display: block;
  }
  nav {
    display: none;
  }
}
