body, main, section {
  font-size: calc(100vw / 40);
  //@include outer-container;
}

#discourse, #messages, #discourse form, nav, header, section{
  @include span-columns(6);
  @include shift(3);
  // max-width: 50%;
  // margin-left: auto;
  // margin-right: auto;
}

header {
  margin: 0 auto;
}

ol {
  list-style-type: none;
  padding-left: 0px;
}



