@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lusitana');

@keyframes animatedCursor {
  0%, 100% {
    left: -80px;
  }
  50% {
    left: -75px;
  }
}

div img, .cursor { 
  display: none;
  position: absolute; 
  top: 10px;
  max-width: 50px;
  animation: animatedCursor 0.4s infinite;
}

li div .cursor {
}

:focus + img { display: block; }

:root {
  font-size: calc(1vw + 1vh + .5vmin);
}

.article-footer {
  margin-top: 2rem;
  margin-bottom: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-button {
  font-size: 0.7rem;
  width: 30%;
  max-width: 50%;
  text-align: center;
  border: 2px solid $base-font-color;
  height: 44px;
  line-height: 40px;
  cursor: pointer;
}


.article-button-permalink:hover {
  color: #fff;
  background-color: $base-font-color;
  text-decoration: none;
}

html body, input, textarea {
  font-family: $serif;
  font-size: 1rem;
  line-height: 1.5;
  color: $base-font-color;
}

p {
  font-family: $sans-serif;
}

h1, figcaption, .load {
  text-align: center;
  float: none;
}

.initiative {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content {
  flex: 1;
}

ol, .load {  
  margin-bottom: 30vh;
}

.load {
  margin-top: 10vh;
}

footer.gallery-footer {
  background-color: #fff;
  bottom: 0;
  position: fixed;
  right: 0;
  width: 100vw;
}

nav, main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


nav ul {
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  padding-bottom: 1rem;
}

nav ul li {
  display: inline-block;
  padding: 3vw;
}

figure img:not(.cursor) {
  width: 100%;
}

a {
  color: $base-font-color; 
  font-weight: bold;
  &:hover {
    color: shade($medium-gray, 25%);
    text-decoration: underline;
  }
}

.up-current, .up-active {
  text-decoration: underline;
}

#pieces {
  width: 100%;
}

section p {
  text-indent: 5ch;
  margin: 0;
}

.name { text-align: center; }
@media (min-width: 61.5rem) {
  .name {
    position: fixed;
    top: 40%;
    left: 0;
    transform: translate(-30%,50%) rotate(0.75turn); 
    font-size: 0.5rem;
  }
  header, ol li, .load.dolly {
    @include span-columns(6);
    @include shift(3);
  }
  section p {
    font-size: 0.7rem;
  }

  #discourse {
    z-index: 3; 
    position: fixed;
    left: 100vw;
    top: 10vh;
    width: 100%;
    transition: left 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    height: 45vh;
    #messages {
      overflow: scroll;
      height: 50vh;
    }
    form {
      position: absolute;
      top: 50vh;
    }
  }

  #toggle {
    position: fixed;
    top: 40%;
    right: 0;
    transform: translate(-30%,50%) rotate(0.75turn); 
    font-size: 0.5rem;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

  }


  #toggle + label {
    position: fixed;
    top: 40%;
    right: 0;
    cursor:pointer;
    font-size: 0.5rem;
    text-align:center;
    cursor: pointer;
    transition: right 600ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    transform: translate(-30%,50%) rotate(0.25turn);
    z-index: 5;
  }

  #toggle + label:after {
    content:"Chat";
  }

  #toggle:checked ~ #discourse {
    left: 75vw;
  }

  #toggle:checked + label {
    right: 25vw;
    transform: translate(-30%,50%) rotate(0turn);
  }

  #toggle:checked ~ #content {
    width: 75vw;
  }

  #toggle:checked + label:after {
    content:"close >>";
  }
}

progress {
  /* Positioning */
  position: relative;
  left: 0;
  top: -1.2em;

  /* Dimensions */
  width: 100%;
  height: .05em;

  /* Reset the apperance */  
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* For Firefox/IE10+ */
  background-color: transparent;

  /* For IE10+, color of the limit bar */
  color: #f6cac9;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

.limit-break::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg, 
                               transparent 33%, rgba(0, 0, 0, .1) 33%, 
                               rgba(0,0, 0, .1) 66%, transparent 66%),
                      -webkit-linear-gradient(left, #000, #000);
}

.limit-break::-moz-progress-bar {
  background-image: -moz-linear-gradient(-45deg, 
                               transparent 33%, rgba(0, 0, 0, .1) 33%, 
                               rgba(0,0, 0, .1) 66%, transparent 66%),
                      -moz-linear-gradient(left, #000, #000);
}

.limit-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: .25em;
  display: block;
}

.limit-bar {
  background-color: red;
  width: 50%;
  display: block;
  height: inherit;
}

#toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

