:root {
  font-size: calc(1vw + 1vh + .5vmin);
}

html body {
  font: 1em/1.6 monospace;
  font-color: blue;
}

/* Now you can utilize the root em unit based on the value calculated by :root */
body {
  font: 1em/1.6 sans-serif;
}

h1, figcaption, .load {
  font-family: monospace;
  text-align: center;
  float: none;
}

.initiative {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content {
  flex: 1;
}

ol, .load {  
  margin-bottom: 30vh;
}

footer {
  background-color: white;
  bottom: 0;
  position: fixed;
  right: 0;
  width: 100vw;
}

nav, main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


nav ul {
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

nav ul li {
  display: inline-block;
  padding: 3vw;
}

img {
  width: 100%;
}

a {
  color: $base-font-color; 
  font-weight: bold;
  &:hover {
    color: shade($medium-gray, 25%);
    text-decoration: underline;
  }
}

