:root {
  font-size: calc(1vw + 1vh + .5vmin);
}

html body, input, textarea {
  font: 1rem/1.6 monospace;
  color: $base-font-color;
}

h1, figcaption, .load {
  font-family: monospace;
  text-align: center;
  float: none;
}

.initiative {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content {
  flex: 1;
}

ol, .load {  
  margin-bottom: 30vh;
}

.load {
  margin-top: 10vh;
}

footer {
  background-color: #fff;
  bottom: 0;
  position: fixed;
  right: 0;
  width: 100vw;
}

nav, main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


nav ul {
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

nav ul li {
  display: inline-block;
  padding: 3vw;
}

img {
  width: 100%;
}

a {
  color: $base-font-color; 
  font-weight: bold;
  &:hover {
    color: shade($medium-gray, 25%);
    text-decoration: underline;
  }
}

.up-current, .up-active {
  text-decoration: underline;
}

section p {
  text-indent: 5ch;
  margin: 0;
}

.name { text-align: center; }
@media (min-width: 61.5rem) {
  .name {
    position: fixed;
    top: 40%;
    left: 0;
    transform: translate(-30%,50%) rotate(0.75turn); 
    font-size: 0.5rem;
  }
  header, ol li, .load.dolly {
    @include span-columns(6);
    @include shift(3);
  }
  section p {
    font-size: 0.7rem;
  }
}

